* {
  all: unset;
  font-family: "Rajdhani", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 1.2rem;
}

#window {
  background: rgba(26, 22, 33, 0.80);
  border: 2px solid #9370DB;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#entry {
  background: rgba(36, 30, 48, 0.8);
  border-radius: 12px;
  color: #ECE4F4;
  padding: 10px 15px;
  margin-bottom: 12px;
}

#match {
  padding: 8px;
  border-radius: 10px;
  color: #D8CCE9;
  transition: all 0.2s ease-in-out;
}

#match:hover, #match:selected {
  background: #9370DB;
  color: #1A1621;
}
