window {
    margin: 0px;
    border: 2px solid #9370DB;
    background-color: rgba(26, 22, 33, 0.85);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

#input {
    margin: 10px;
    border: none;
    color: #ECE4F4;
    background-color: rgba(36, 30, 48, 0.90);
    padding: 8px;
    border-radius: 3px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    color: #D8CCE9;
}

#entry {
    padding: 2px;
}

#entry:selected {
    background-color: rgba(147, 112, 219, 0.90);
    border-radius: 3px;
}

#text:selected {
    color: #1A1621;
    font-weight: bold;
}
