* {
  all: unset;
  font-family: "Rajdhani", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 1.2rem;
}

#window {
  background: rgba(31, 23, 18, 0.80);
  border: 2px solid #E0763C;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

#entry {
  background: rgba(44, 33, 26, 0.8);
  border-radius: 12px;
  color: #F5EBE2;
  padding: 10px 15px;
  margin-bottom: 12px;
}

#match {
  padding: 8px;
  border-radius: 10px;
  color: #E8D8C8;
  transition: all 0.2s ease-in-out;
}

#match:hover, #match:selected {
  background: #E0763C;
  color: #1F1712;
}
